@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif !important;
  background-color: black !important;
}

.promo-title{
  font-size: 40px;
  font-weight: 600;
  margin-top: 70px;
  color: #fff;
}

p{
  color: #fff;
}

.btn-primary{
  box-shadow: none !important;
  padding: 8px 25px;
  border-radius: 2px !important;
  border: 2px solid white !important;
  color: white !important;
  background: none !important;
}

.btn-primary:hover{
  background: grey !important;
  color: #fff !important;
  border: 2px solid #fff !important;
}

#life{
  padding: 40px 0;
  color: #fff;
}

.title::before{
  content: '';
  background: #fff;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50px;
  transform: translateY(46px);
}

ul{
  list-style-type: none;
  font-weight: lighter;
}

ul li{
  padding: 3px;
  font-weight: 300;
  color: #fff;
}